.comment-login {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 100%;
}

.comment-info textarea {
    width: 100%;
    resize: none;
    padding: 10px;
    overflow: auto;
    outline: none;
}

.comment-logout {
    margin: 20px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comment-logout-title {
    font-size: 32px;
    font-weight: bold;
}

.comment-logout-body {
    display: flex;
    align-items: center;
}

.comment-logout-body p {
    margin: 0;
    margin-left: 5px;

}