.accordion-course {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}

.accordionCourses-desc :last-child {
    margin-right: 15px;
}

.accordionCourses-desc-count {
    margin: 0 15px;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 50%;
}