.content-Description p {
    text-align: justify;
    font-size: 1.3em;
    line-height: 2em;
    position: relative;
    padding: 10px 0 40px;
}

.content-Description p::after {
    content: "";
    position: absolute;
    left: 280px;
    right: 242px;
    height: 2px;
    background-color: #c6c6d5;
    bottom: 0;
    margin-bottom: 18px;
}

.content-Description p strong {
    color: rgb(56, 129, 231);
    display: block;
    font-size: 1.1em;
}