@import url('bootstrap/dist/css/bootstrap.rtl.min.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.BgmainColor {
  background-color: var(--BtnColor) !important;
}

.BgseccondColor {
  background-color: var(--SeccondColor) !important;
}

.textMainColor {
  color: var(--BtnColor) !important;
}

.textSeccondColor {
  color: var(--SeccondColor) !important;
}

.flexBasic {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}


/* Media query */
@media screen and (min-width: 1366px) {}

@media screen and (max-width: 1366px) {
  .goal-icon {
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 768px) {
  .goal-info-description {
    display: none;
  }

}

@media screen and (max-width: 480px) {
  .goal-info-description {
    display: none;
  }
}