:root {
  --mainColor: #172D13;
  --SeccondColor: orange;
  --BtnColor: #34bf52;
  --BtnHoverColor: #d6f9dd;
  --transitionDuration: 0.7s;
  --transitionTimingFunction: ease;
}

@font-face {
  font-family: 'Parastoo';
  src: local('Parastoo'), url("./Asset/Fonts/Parastoo.ttf") format('truetype');
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Parastoo";

}