.iconBtn {
    font-size: 2rem !important;
    border: 1px solid #000 !important;
    padding: 3.5px !important;
}

.searchBtn {
    background-color: var(--BtnColor) !important;
    color: var(--BtnHoverColor) !important;
}

.ShoppingCartBtn {
    background-color: #efebeb !important;
    color: #464749 !important;
}

header .nav-btn {
    cursor: pointer;
    background: transparent !important;
    border: none !important;
    outline: none !important;
    display: none;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: inline-block;
        opacity: 1;
    }

    header .responsive_nav {
        transform: translateY(100vh);
    }

    .mainHeader-left {
        display: none !important;
    }

}