.info-video {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    height: 450px;
  }
  
  .info-video video {
    width: 100%;
    height: 100%;
  }